@charset "UTF-8";

/* ベースのスタイル
------------------------------------------------------------*/

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "biz-udpmincho", sans-serif;
  font-style: normal;
  font-size: .9375rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5;
  background: linear-gradient(180deg,
  #14090d,
  #130d1e,
  #121030,
  #121139,
  #11124a,
  #111255);
  color: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
}

/* 共通のスタイル
------------------------------------------------------------*/

.section-heading {
  text-align: center;
}

.section-title {
  color: #fff;
  margin: 6.25rem 0 3.125rem 0;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 3.5;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.item-description {
  font-size: 1rem;
  margin: 1.875rem auto 2.1875rem auto;
}

.spotify {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.spotify iframe {
  width: 100%;
  max-width: 100%;
}

/* ヘッダー
------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header a {
  color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 3.75rem;
  padding: 0 0 0 1.25rem;
  box-sizing: border-box;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05rem;
  text-shadow: 1px -1px #333;
}

.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.75rem;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px -1px #333;
}

.sp-nav {
  position: absolute;
  top: 3.75rem;
  left: 0;
  height: 25.625rem;
  display: none;
  z-index: 1000;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #2b2b2b;
  box-sizing: border-box;
}

.sp-nav-list li {
  margin: 3.4375rem 0;
}

.pc-nav {
  display: none;
}

.pc-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pc-nav-list li {
  margin: 0 0 0 3.125rem;
  text-shadow: 1px -1px #333;
}

/* カバー
------------------------------------------------------------*/

.cover {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  height: 100vh;
  color: #fff;
  background-image: url(../images/cover_bg.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.cover-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* メイン
------------------------------------------------------------*/

.discography-item,
.biography-item,
.contact-flex {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.discography-item:first-child {
  margin-bottom: 5rem;
}

.disco-artist-title {
  font-size: 1.4rem;
  margin: 0 auto 1.875rem auto;
}

.bio-artist-title {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 auto 1.875rem auto;
}

.disco-artist-description  {
  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.disco-item-title {
  font-size: 1.5rem;
  margin: 1.875rem 0 1.5625rem 0;
  text-align: center;
  white-space: nowrap;
}

.disco-item-release {
  font-size: 1.2rem;
  margin-bottom: 3.125rem;
  white-space: nowrap;
}

.bio-wrapper img {
  width: 100%;  
  height: auto;
  object-fit: cover;
}

.facebook-wrap {
  text-align: center;
  margin-top: 3.125rem;
}

.contact-lead {
  font-size: 1rem;
  margin: 1.875rem .625rem 2.1875rem .625rem;
}

.contact-link {
  text-decoration: underline;
}

/* フッター
------------------------------------------------------------*/

.footer {
  padding: 2.5rem;
  font-size: .875rem;
  /* 14px */
  text-align: center;
  color: #fff;
}

/*  SP版コーディング
------------------------------------------------------------*/

@media (max-width: 1500px) {
  .cover-video {
    display: none;
  }
  
  .cover {
    background-position: left 18% center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cover img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .disco-artist-title,
  .disco-wrapper {
    text-align: center;
  }
  
  .jacket-img {
    width: 60%;  
    height: auto;
    object-fit: cover;
  }

  .new-line {
    display: none;
  }
}

@media (max-width: 500px) {
  .jacket-img {
    width: 100%;  
    height: auto;
    object-fit: cover;
  }
}

/*  PC版コーディング
------------------------------------------------------------*/

@media (min-width: 1500px) {
  body {
    font-size: 1.125rem;
    line-height: 2;
  }

  main {
    margin: auto 6.25rem;
  }

  .section-title {
    margin: 6.25rem 0;
    font-size: 4.375rem;
    text-align: center;
    line-height: 2.5;
  }

  .item-description {
    width: 100%;
    max-width: 60%;
    margin: 1.875rem auto 2.1875rem auto;
  }

  .header {
    padding: 0 1.875rem;
  }

  .hamburger-button {
    display: none;
  }

  .pc-nav {
    display: block;
  }

  .disco-wrapper,
  .disco-wrapper-reverse {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    margin: 2.5rem auto;
    gap: 4rem;
  }

  .discography-item {
    max-width: 90%;
    margin: 3rem auto;
  }
  
  .disco-artist-title {
    font-size: 2.5rem;
    margin: 0 auto 3.125rem auto;
    text-align: center;
  }

  .disco-artist-description:last-child {
    margin-bottom: 5rem;
  }

  .jacket {
    margin-bottom: 0;
  }

  .jacket-img {
    width: 600px;
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }

  .jacket-img-pc {
    width: 800px;
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }
  
  .disco-item-name {
    position: relative;
    z-index: 2;
    text-shadow: 1px -1px #333;
    margin-left: 40px;
  }

  .disco-item-title {
    font-size: 2.2rem;
    margin: 0;
  }

  .disco-item-release {
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
  }

  .bio-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
  }

  .bio-wrapper-reverse,
  .disco-wrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .biography-item,
  .contact-item {
    max-width: 90%;
    margin: 0 auto;
  }

  .biography-item {
    margin-bottom: 5rem;
  }
  
  .bio-artist-title {
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    left: 575;
    z-index: 2;
    text-shadow: 1px -1px #333;
    margin-bottom: 2rem;
  }

  .bio-artist-title-reverse {
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    left: 1000;
    z-index: 2;
    text-shadow: 1px -1px #333;
    margin-bottom: 2rem;
  }

  .biography img {
    width: 50%;
    max-width: 900px;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .bio-img-reverse {
    left: 0;
  }

  .contact-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .contact-paragraph {
    text-align: left;
    max-width: 500px;
  }
}
